<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("./menu"); %>
    <h1>¡¡¡¡¡¡¡¡관리자 페이지에 오신 것을 환영합니다!!!!!!!</h1>
    <%- include("../footer"); %>
  </body>
</html>
