<div id="isdark" style="float: right; flex: 1;" class="btn-group" role="group">
  <form id="dark">
    <input id="darkinput" type="hidden" value="dark" />
    <button
      id="darkbutton"
      type="submit"
      class="btn btn-elegant"
      style="
        max-height: 40px;
        max-width: 150px;
        text-align: center;
        color: ivory;
        border: black;
        border-radius: 5px;
      "
    >
      다크모드
    </button>
  </form>
  <form id="light">
    <input id="lightinput" type="hidden" value="light" />
    <button
      id="lightbutton"
      type="submit"
      class="btn btn-white"
      style="
        max-height: 40px;
        max-width: 150px;
        text-align: center;
        color: rgb(55, 55, 55);
        border: black;
        border-radius: 5px;
      "
      value="light"
    >
      라이트 모드
    </button>
  </form>
</div>
