<!DOCTYPE html>
<html lang="en">
  <%-include("header"); %>
  <body>
    <%-include("menu"); %>
    <div
      style="
        background-image: url(/images/background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: absolute;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
      "
    >
      <h2 style="text-align: center; color: white; margin-top: 30px;">
        위의 내비게이션에서 언어선택 > 원하는 언어 선택
      </h2>
    </div>

    <%-include("footer"); %>
  </body>
</html>
